.content {
    display: flex;
    flex-wrap: wrap;
}

.person {
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
    background: silver;
    padding: 5px;
}
